.about-list{
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    text-align: center;
    float: left;
    margin: 50px;
    border: 2px solid;
}

.about-image{
    width: 400px;
    height: 400px;;
}