.about-list{
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    text-align: center;
    float: left;
    margin: 20px;
    border: 1px solid;
}

.about-image{
    width: 100px;
    height: 100px;;
}