.title{
    font-size: 70px;
    margin-top: 7%;
}

.setting{
    float: right;
    font-size: 50px;
    cursor: pointer;
}

.set{
    margin-right: 80px;
}

.setting_icon{
    width: 40px;
}

.setting_form{
    font-size: 20px;
    background-color: rgb(230, 230, 230);
    width: 275px;
    height: 350px;
    border-radius: 5px;
}

.setting_form span{
    font-size: 25px;
    font-weight: bold;
}

.setting_form input{
    font-size: 20px;
    width: 3em;
    height: 1.8em;
    margin-left: 20px;
}

.setting_form ul li{
    list-style-type: none;
    margin: 5px 0;
}

button{
    float: right;
    border-radius: 10px;
}

.btn-danger{
    margin-left: 10px;
    margin-right: 10px;
}

.showUp{
    display: block;
}

.showNone{
    display: none;
}