.welcome{
    padding: 3px;
    margin-left: 2%;
    margin-top: 10px;
    font-family: 'Alfa Slab One', cursive;
    color: #282828;
    font-size: 125px;
    margin-top: 300px;
    text-align: center;
}